

#nameTitle{
  padding-bottom: 100px;
  background-color: #90EE90;
  font-family: 'Alegreya', serif;

}

#myName {
  margin-top: 300px;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 30px;
  color: white;
}

#position{
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 190px;
}

#myimg{
width: 350px;
padding: 10px
}


#proT{
margin-top: 68px;
margin-bottom: 5px;
text-transform: uppercase;
font-family: 'Slabo 27px', serif;
letter-spacing: 1.5px;
}

#aboutT{
  text-transform: capitalize;
  margin-bottom: -6px;
  letter-spacing: 2px;
  font-family: 'Slabo 27px', serif;
  letter-spacing: 1.5px;

}

.fa-linkedin:hover{
  color: #007bb5 !important;
}
.fa-facebook:hover{
 color: #3b5998!important;
}
.fa-twitter:hover{
  color: #55acee !important;
}
a:hover {
  text-decoration: none !important;
}
#aboutMe{
  margin-top: 30px;
}

#aboutB{
  margin-top: 30px;
  text-align: left;
  font-size: 18px;
  font-family: 'Alegreya', serif;
}
#printingT{
  font-family: 'Alegreya', serif;
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 25px;
  letter-spacing: 1.5px;
}
#social{
  margin-left: 28%;
  margin-top: 5px;
}
#social .fa{
  padding-right: 10px;
  color: #000;
}
#printingDes {
font-size: 18px;
font-family: 'Alegreya', serif;


}

#printingImg{
  margin-top: 110px;
}

#codecore4{
  margin-top: 100px;
}

#codecore4T{
  font-family: 'Alegreya', serif;
  margin-bottom: 30px;
  font-size: 25px;
  letter-spacing: 1.5px;

}

#codecore4Des{
  font-family: 'Alegreya', serif;
  font-size: 18px;
}

#codecore4Img{
  margin-top: 30px;
}


#skillsT{
  margin-top: 40px;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
  font-family: 'Alegreya', serif;

}

.col-lg-2{
  margin-top: 30px;
  font-family: 'Alegreya', serif;

}

#skills{
  margin-bottom: 150px;
}

#contact{
  margin-bottom: 30px;
  margin-top: 80px;
}

#contactT{
  font-family: 'Alegreya', serif;

  margin-bottom: 60px;
}

#phone{
  margin-top: 70px;
}

#email{
  margin-top: 70px;
}

nav.navbar-default {
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
}

nav.navbar-default .navbar-nav>li>a, nav.navbar-default .navbar-brand {
  color:#ffffff ;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Alegreya', serif;
}
#formName{
  width: 73%;
  padding: 4px 10px;
  margin:10px 0px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}
#formEmail{
  width: 73%;
  padding: 4px 10px;
  margin:10px 0px;
  box-sizing: border-box;
  border: 1px solid #cccccc;

}
#formTextarea{
  width: 992px;
  height: 184px;
  padding: 4px 10px;
  border: 1px solid #cccccc;
  box-sizing: border-box;

}

#formBtn{
  width:118px;
}
#section4{
  margin-bottom: 10%;
}
h2{
  font-size: 20px;
  font-family: 'Alegreya', serif;
}
